// Brand Colors
$luar_blue: #FBC225;
$luar_pink: #EE1D38;

// Greys
$grey_text: #BCBDC3;
$grey_text_2: #B0B2BD;
$grey_background: #EFEFF2;

// Blacks
$black_text: #48494F;

// Blues
$blue_light: #E1E8F5;
